<form action="/users/edit-user/{{student._id}}" method="post">
  First Name: 
  <input type="text" name="firstName" value="{{student.firstName}}">
  <br>
  Last Name: 
  <input type="text" name="lastName" value="{{student.lastName}}">
  <br>
  Campus
  {{!-- <input type="text" name="_campus" value="{{student._campus}}"> --}}
  {{!-- <br> --}}

  <select name="_campus">
    {{#each campuses}}
      <option 
        value="{{this._id}}" 
        {{#ifSameObjectId this._id ../student._campus}}selected{{/ifSameObjectId}}
      >
        {{this.city}} ({{this.gm}})
      </option>
    {{/each}}
  </select>
  <br>

  <button type="submit">Edit</button>
</form>